/*Reset */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

/*Estilos para pantallas de Celulares*/

header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:black ;
}

header img{
    margin: 20px;
}

.titulo{
    background-color: black;
    text-align: center;
    color: whitesmoke;
    font-size: xx-large; 
}
.navegacion {
    background-color: black;
    text-align: center;
  }
  
.navegacion ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.navegacion li {
    display: inline-block;
  }
  
.navegacion a {
    display: flex;
    padding: 5px;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 10px;
    justify-content: space-between;
}
  
.navegacion a:hover {
    background: #4f4f4f;
  }

/*Index (Home)*/

.img{
    background-color:black ;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    object-fit:cover;
}  

footer{

    color: whitesmoke;
    text-align: center;
    margin-top: 1rem;
}

/*Contacto*/

.formulario{
    text-align: center;
    background-color:black ; 
    color: whitesmoke;    
    font-size: x-large;

}
.formulario div input{
    text-align: center;
    background-color: whitesmoke;  
}


/*Biografia*/
.main {
    background-image: url(../IMG/WhatsApp\ Image\ 2023-04-22\ at\ 10.23.55\ PM.jpeg);
    height: auto;
    width: auto;
    margin: 0px;
    padding: 50px;
   
}
.main div{
    height: 800px;
    text-align: left;
    color: whitesmoke;
    font-size: 50 PX;
}
.contenido {
    width: 100%;
    margin: 0px;
    padding: 5px;
}

.contenedor-max {
    margin:  20px;
    max-width: 500px;
    padding: 5px;
    align-items: center;
    font-size:large;
}

.main div h2{
    text-align: center;
    color: whitesmoke;
}

/*Fotos*/
.imagenes, .imagen-2, .imagen-4, .imagen-5{
    display: none;
}

.images div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.images{
    height: 60vh;
    margin: 1rem 3rem 25rem 3rem;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: repeat(3, 60%);
    row-gap: 1rem;
}

/*Musica*/
.youtube .v1, .v4{
    display: none;
}
.soundcloud, .Beat{
    display: none;
}
.videos {
    image-resolution: 25px;
}

.videos h1{
    background-color: black;
    color: whitesmoke;
}

.Videos div .spotify, .youtube{
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.Videos{
    height: 40vh;
    margin: 1rem 3rem 50rem 3rem;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: repeat(3, 60%);
    row-gap: 1rem;
}

/*Estilos para pantallas de tablet*/
/*mq de tablet*/

@media screen and (min-width:600px){
    .videos{
        image-resolution: 15%;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 40% 40% 20%;        column-gap: 1rem; 
    }
    .youtube .v1{
        display: block;    
        grid-column: span 3;
    }
    .images{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 1rem; 
    }
    .imagenes, .imagen-2{
        display: block;
        grid-column: span 2;
    }
    .imagenes, .imagen-3{
        display: none;
    }
}
/*Estilos para PC-Desktop*/
/*mq de Desktop*/
@media screen and (min-width:1024px){
    .imagenes, .imagen-4, .imagen-5{
    display: block;
    }
    .images{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 70% 70% 50%;
    }
    .youtube .videos{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 25%;       
        column-gap: 2rem; 
    }
    .youtube .v4{
        display: block;
    }
}